@use "colors";

@font-face {
  font-family: 'Kumbh Sans', sans-serif;
  src:url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap") format("woff2");
}

html{
  background: colors.$dark_cyan;
}

@media screen and (min-width: 375px) {
  body{
    margin: 0;
    background-image: url("./assets/images/bg-pattern-bottom.svg"),
    url("./assets/images/bg-pattern-top.svg");
    //background-image: url("http://localhost:63342/Apens.github.io/assets/images/bg-pattern-bottom.svg"),
    //url("http://localhost:63342/Apens.github.io/assets/images/bg-pattern-top.svg");

    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 120px 451px, -400px -356px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    width: 100vw;
    height: 100vh;

  }

  .card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5%;
    height: 40%;
    width: 85%;
    overflow: hidden;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.2);
    //background-image: url("http://localhost:63342/Apens.github.io/assets/images/bg-pattern-card.svg");
    background-image: url("./assets/images/bg-pattern-card.svg");
    color: black;
    &__header{
      height: 40%;

    }
    &__avatar{
      padding: 5px;
      border-radius: 50%;
      width: 100px;
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translate(-50%,-40%);
      img {
        width: 100%;
        clip-path: circle(50%);
      }
    }
    &__body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30%;
      padding-top: 30px;
      background-color: white;
      p:first-child {
        font-weight: bold;
        padding-top: 25px;
        line-height: 1px;
      }
      p:nth-child(2){
        line-height: 1px;
      }
      p:nth-child(2),
      span {
        font-weight: lighter;
        color: colors.$dark_grey;
      }
      span{
        margin-left: 5px;
      }
    }
    &__footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      border-top: 1px solid colors.$dark_grey;
      height: 20%;
      padding-bottom: 15px;
      div {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        span{
          line-height: 1px;
          font-size: .8rem;
          font-weight: lighter;
          color: colors.$dark_grey;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px){
  body{
    background-size: 1320px, 1085px;
    background-repeat: no-repeat;
    background-position: 34rem 32rem, -24rem -26rem;
  }

  .card{
    width: 20em;
  }
}